$background-color-body: hsl(36, 100%, 99%);
$background-color-aside: hsl(240, 100%, 5%);
$background-color-btn:hsl(5, 85%, 63%);
$text-color-darkgrey:hsl(236, 13%, 42%);
$text-color-grey:hsl(233, 8%, 79%);
$text-color-blue: hsl(240, 100%, 5%);
$text-color-white:hsl(36, 100%, 99%);
$text-color-hover:hsl(5, 85%, 63%);;
$font-family: 'Inter', sans-serif;
