@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import './Styles/variables';
@import './Styles/mixins';
@import './Styles/navbar';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}
.container {
    padding: 20px;
}

@media screen and (min-width:1020px) {
    .container {
        padding: 40px 120px;
    }
}