@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import './Styles/variables';
@import './Styles/mixins';
@import './components/Navbar/navbar';
@import './components/Popular/popular';
@import './components//Hero/hero';
@import './components/Sidebar/sidebar';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
   
}
a {
    text-decoration: none;
}
button, a {
    cursor: pointer;
}

body {
    font-size: 15px;
    background-color: $text-color-white;
}


.container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    main {
        margin: 40px 0 ;
    }
}



footer {
    margin-top: 50px;
    text-align: center;
    color: $text-color-darkgrey;
    a{
        color: $text-color-blue;
        transition: .5s;
    }
    a:hover {
        color: $text-color-hover;
        text-decoration: underline;
    }
}

@media screen and (min-width:800px) {
    .container {
        padding: 40px 60px;
        
        grid-template-areas: 
        'nav nav nav nav'
        'header header sidebar'
        ;
        main {
            display: flex;
            gap: 20px;
        }
    }
}
@media screen and (min-width:1020px) {
    .container {
        padding: 40px 120px;
        
        grid-template-areas: 
        'nav nav nav nav'
        'header header sidebar'
        ;
        main {
            margin-bottom: 100px;
        }
    }
}